<h1>Editing Rental Period</h1>

<%= render 'form', rental_period: @rental_period %>

<%= link_to 'Show', @rental_period, class:"btn btn-dark" %> 
<%= link_to 'Back', items_path, class:"btn btn-secondary" %>
