<h1> RentMe </h1>
<br>
<p> Application which helps your company track rented items.</p>
<br>
<hr>
<h1> How to rent Item ? </h1>
<p> First of all you have to create your User in <a href="/users">User section</a>.</p>
<p>Then in <a href="/items">Items section</a> by using "Rent Item" button, you can rent item in few clicks.</p>
<hr>
