<h1 class="additionalStyle"> RentMe </h1>
<p> Application which helps your company track rented items.</p>
<hr>
<h1 class="additionalStyle">Fist Steps</h1>
<p> At the beginning creare account <a href="<%= new_user_registration_path %>">Here</a> or if you already have one, just <a href="<%= new_user_session_path %>">Sign In</a>.</p>
<hr>
<h1 class="additionalStyle"> How to rent Item ? </h1>
<strong><p>Account is required! via steps above !</p></strong>
<p> First of all you have to create User in <a href="/users">User section</a>.</p>
<p>Then in <a href="/items">Items section</a> by using "Rent Item" button, you can rent item in few clicks.</p>
<hr>
