
<h1>Return Item</h1>

<%= render 'form', rental_period: @rental_period %>


<br>

<%= link_to 'Show', @rental_period, class:"btn btn-dark" %> 
<%= link_to 'Back', items_path, class:"btn btn-secondary" %>
